<div class="type-topic-input">
  {{combo-box
    content=model.typeTopicOptions
    value=model.isPrivateTopic
    onChange=(action (mut model.isPrivateTopic))
    class="select-type-topic"
  }}
</div>