{{#if this.model.showPrivateTopicChooser}}
  <div class="type-topic-input">
    {{combo-box
      content=model.typeTopicOptions
      value=model.is_private
      onChange=(action (mut model.is_private))
      class="select-type-topic"
    }}
  </div>
{{/if}}