.type-topic-input {
  flex-grow: 1;
  margin: 0 0 8px 8px;
  width: 100%;
  max-width: calc(50% - 3px);

  details {
    width: 100%;
  }

  .select-kit-header {
    color: var(--primary-high);
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.mobile-view {
  .type-topic-input {
    margin: 0 0 6px 6px;
  }

  .custom-tag-container .category-input {
    max-width: calc(50% - 3px) !important;
  }
}

.custom-tag-container {
  width: 100%;
  display: flex;

  .category-input {
    margin: 0 !important;
    max-width: calc(50% - 5px) !important;

    .mini-tag-chooser {
      margin: 0 !important;
      max-width: 100% !important;
    }
  }
}

.full-width-tag {
  margin-left: 0 !important;
  margin-bottom: 8px !important;
  max-width: 100% !important;
}
