.type-topic-input {
  margin: 0 0 8px 8px;
  width: auto;
  max-width: calc(50% - 4px);
  flex-grow: 1;

  details {
    width: 100%;
  }

  .select-kit-header {
    color: var(--primary-high);
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.custom-tag-container {
  width: 100%;
  display: flex;
}
